<div class="container">
  <div class="row">
    <div class="span9"><%= yield %></div>
    <div class="span3">
      <h2>Coding 说明文档</h2>

      <p>Code是一个代码自动生成工具。它的作用有</p>

      <ul>
        <li>生成meta对象和so对象(没有任何查询条件，自行添加)</li>
        <li>生成dao接口和dao实现类以及mapper配置文件等</li>
        <li>其他类似类似service的代码（暂未开发）</li>
        <li>在dao中默认生成了几个方法和默认实现,自行阅读。</li>
      </ul>
    </div>
  </div>
</div>
